In [29]:
# import modul
import pandas as pd 
import matplotlib.pyplot as plt

In [30]:
# pembuatan data frame
df = pd.read_csv("used_cars.csv")

In [31]:
# Informasi jumlah baris dan kolom
df.shape

(20001, 26)

In [32]:
#contoh isi dataset
df.head()

,No,id,url,region,region_url,price,year,manufacturer,model,condition,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,0,7034441763,https://saltlakecity.craigslist.org/cto/d/salt...,salt lake city,https://saltlakecity.craigslist.org,17899,2012.0,volkswagen,golf r,excellent,...,4wd,compact,hatchback,black,https://images.craigslist.org/00G0G_fTLDWM5Xyv...,PRICE REDUCED! -Garage kept -Low Miles (63K)...,NaN,ut,40.7372,-111.858
1,1,7034440610,https://saltlakecity.craigslist.org/ctd/d/sand...,salt lake city,https://saltlakecity.craigslist.org,0,2016.0,ford,f-150,excellent,...,4wd,NaN,NaN,NaN,https://images.craigslist.org/00v0v_7Cu0buIofU...,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
2,2,7034440588,https://saltlakecity.craigslist.org/ctd/d/sand...,salt lake city,https://saltlakecity.craigslist.org,46463,2015.0,gmc,sierra 1500,excellent,...,4wd,NaN,NaN,white,https://images.craigslist.org/01515_lPvJ9bfbdY...,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
3,3,7034440546,https://saltlakecity.craigslist.org/ctd/d/sand...,salt lake city,https://saltlakecity.craigslist.org,0,2016.0,ford,f-150,excellent,...,4wd,NaN,NaN,NaN,https://images.craigslist.org/00T0T_6Rjfp3NS4O...,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
4,4,7034406932,https://saltlakecity.craigslist.org/ctd/d/evan...,salt lake city,https://saltlakecity.craigslist.org,49999,2018.0,ford,f-450,NaN,...,4wd,NaN,pickup,white,https://images.craigslist.org/00W0W_8yIUwRBXXd...,2018 Ford F-350 F350 F 350 SD Lariat Crew Cab ...,NaN,ut,40.3744,-104.694

In [33]:
# informasi data yang ada di dataset
df.describe()

,No,id,price,year,odometer,county,lat,long
count,20001.000000,2.000100e+04,2.000100e+04,19989.000000,1.761200e+04,0.0,18970.000000,18970.000000
mean,10000.000000,7.043199e+09,7.664058e+04,2009.830657,9.916435e+04,NaN,40.394737,-86.300395
std,5773.935703,4.668820e+06,8.335762e+06,7.913613,7.963487e+04,NaN,4.440290,18.219242
min,0.000000,7.032597e+09,0.000000e+00,1917.000000,0.000000e+00,NaN,-51.812200,-155.901000
25%,5000.000000,7.040114e+09,3.970000e+03,2007.000000,5.013300e+04,NaN,37.273700,-80.166800
50%,10000.000000,7.043866e+09,8.795000e+03,2011.000000,9.389900e+04,NaN,38.258600,-77.514200
75%,15000.000000,7.047065e+09,1.749500e+04,2015.000000,1.339090e+05,NaN,44.439500,-76.238400
max,20000.000000,7.050101e+09,1.172420e+09,2020.000000,2.500005e+06,NaN,59.746600,9.095700

In [34]:
# distribusi data kolom title_Status
df.groupby('title_status').size()

title_status
clean         19321
lien            154
missing          27
parts only        3
rebuilt         318
salvage          68
dtype: int64

In [35]:
#drop colom yang tidak digunakan
df.drop(['No','id','url','cylinders','region','region_url','manufacturer','model'],axis=1,inplace=True)
df.drop(['transmission','long','price','lat','condition','state','fuel','vin','drive','size','type','paint_color','image_url','description','county'],axis=1,inplace=True)

In [36]:
#fill Nan
new_df = df.fillna(method="ffill")

#drop Nan
#new_df = df.dropna()

In [37]:
#data setelah dilakukan proses eksplorasi data
new_df

         year  odometer title_status
0      2012.0   63500.0        clean
1      2016.0      10.0        clean
2      2015.0    7554.0        clean
3      2016.0      10.0        clean
4      2018.0   70150.0        clean
5      2009.0  120057.0        clean
6      2017.0   95484.0        clean
7      2007.0   89340.0        clean
8      2013.0  226031.0        clean
9      2012.0  128153.0        clean
10     1994.0  168838.0        clean
11     2013.0  156385.0        clean
12     2007.0  135287.0        clean
13     2015.0   73612.0        clean
14     2004.0  235790.0        clean
15     2014.0  158156.0        clean
16     2015.0  127515.0        clean
17     2002.0  179098.0        clean
18     2003.0  185220.0        clean
19     2019.0   20930.0        clean
20     2010.0  231570.0        clean
21     2008.0   75000.0        clean
22     2001.0   75000.0        clean
23     2001.0    9458.0        clean
24     2008.0  110982.0        clean
25     2014.0   93242.0        clean
26     2014.0   15708.0        clean
27     2015.0   68013.0      rebuilt
28     2016.0   23773.0        clean
29     2016.0   28000.0        clean
...       ...       ...          ...
19971  2018.0   37851.0        clean
19972  2010.0  109344.0        clean
19973  2006.0  128850.0        clean
19974  2015.0   89644.0        clean
19975  2008.0  192812.0        clean
19976  2008.0   92475.0        clean
19977  2010.0  157675.0        clean
19978  2018.0    9160.0      rebuilt
19979  2015.0   26743.0        clean
19980  2011.0  139784.0        clean
19981  1999.0  229182.0        clean
19982  2013.0  120242.0        clean
19983  2017.0   30925.0        clean
19984  2017.0   19198.0        clean
19985  2017.0   31310.0        clean
19986  2015.0   60319.0        clean
19987  2016.0   79831.0        clean
19988  2015.0   61469.0        clean
19989  2017.0   24311.0        clean
19990  2015.0   28542.0        clean
19991  2011.0  121220.0        clean
19992  2018.0   48012.0        clean
19993  2016.0   44507.0        clean
19994  2005.0  179000.0        clean
19995  2017.0   29894.0        clean
19996  2016.0   43406.0        clean
19997  2018.0   32867.0        clean
19998  2019.0   17514.0        clean
19999  2017.0   30486.0        clean
20000  2019.0   22078.0        clean

[20001 rows x 3 columns]

In [38]:
#penyimpanan dataframe hasil eksplorasi ke dataset dalam bentuk csv
new_df.to_csv('data_hasil_eksplorasi.csv')

In [39]:
#encoding data
dummies = pd.get_dummies(new_df.title_status)
dummies
merged = pd.concat([new_df,dummies],axis='columns')
merged
final = merged.drop(['title_status'],axis='columns')
final

         year  odometer  clean  lien  missing  parts only  rebuilt  salvage
0      2012.0   63500.0      1     0        0           0        0        0
1      2016.0      10.0      1     0        0           0        0        0
2      2015.0    7554.0      1     0        0           0        0        0
3      2016.0      10.0      1     0        0           0        0        0
4      2018.0   70150.0      1     0        0           0        0        0
5      2009.0  120057.0      1     0        0           0        0        0
6      2017.0   95484.0      1     0        0           0        0        0
7      2007.0   89340.0      1     0        0           0        0        0
8      2013.0  226031.0      1     0        0           0        0        0
9      2012.0  128153.0      1     0        0           0        0        0
10     1994.0  168838.0      1     0        0           0        0        0
11     2013.0  156385.0      1     0        0           0        0        0
12     2007.0  135287.0      1     0        0           0        0        0
13     2015.0   73612.0      1     0        0           0        0        0
14     2004.0  235790.0      1     0        0           0        0        0
15     2014.0  158156.0      1     0        0           0        0        0
16     2015.0  127515.0      1     0        0           0        0        0
17     2002.0  179098.0      1     0        0           0        0        0
18     2003.0  185220.0      1     0        0           0        0        0
19     2019.0   20930.0      1     0        0           0        0        0
20     2010.0  231570.0      1     0        0           0        0        0
21     2008.0   75000.0      1     0        0           0        0        0
22     2001.0   75000.0      1     0        0           0        0        0
23     2001.0    9458.0      1     0        0           0        0        0
24     2008.0  110982.0      1     0        0           0        0        0
25     2014.0   93242.0      1     0        0           0        0        0
26     2014.0   15708.0      1     0        0           0        0        0
27     2015.0   68013.0      0     0        0           0        1        0
28     2016.0   23773.0      1     0        0           0        0        0
29     2016.0   28000.0      1     0        0           0        0        0
...       ...       ...    ...   ...      ...         ...      ...      ...
19971  2018.0   37851.0      1     0        0           0        0        0
19972  2010.0  109344.0      1     0        0           0        0        0
19973  2006.0  128850.0      1     0        0           0        0        0
19974  2015.0   89644.0      1     0        0           0        0        0
19975  2008.0  192812.0      1     0        0           0        0        0
19976  2008.0   92475.0      1     0        0           0        0        0
19977  2010.0  157675.0      1     0        0           0        0        0
19978  2018.0    9160.0      0     0        0           0        1        0
19979  2015.0   26743.0      1     0        0           0        0        0
19980  2011.0  139784.0      1     0        0           0        0        0
19981  1999.0  229182.0      1     0        0           0        0        0
19982  2013.0  120242.0      1     0        0           0        0        0
19983  2017.0   30925.0      1     0        0           0        0        0
19984  2017.0   19198.0      1     0        0           0        0        0
19985  2017.0   31310.0      1     0        0           0        0        0
19986  2015.0   60319.0      1     0        0           0        0        0
19987  2016.0   79831.0      1     0        0           0        0        0
19988  2015.0   61469.0      1     0        0           0        0        0
19989  2017.0   24311.0      1     0        0           0        0        0
19990  2015.0   28542.0      1     0        0           0        0        0
19991  2011.0  121220.0      1     0        0           0        0        0
19992  2018.0   48012.0      1     0        0           0        0        0
19993  2016.0   44507.0      1     0        0           0        0        0
19994  2005.0  179000.0      1     0        0           0        0        0
19995  2017.0   29894.0      1     0        0           0        0        0
19996  2016.0   43406.0      1     0        0           0        0        0
19997  2018.0   32867.0      1     0        0           0        0        0
19998  2019.0   17514.0      1     0        0           0        0        0
19999  2017.0   30486.0      1     0        0           0        0        0
20000  2019.0   22078.0      1     0        0           0        0        0

[20001 rows x 8 columns]

In [40]:
# encoding data string
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [41]:
# encoding data string
dfle = new_df
dfle.title_status = le.fit_transform(dfle.title_status)
dfle

         year  odometer  title_status
0      2012.0   63500.0             0
1      2016.0      10.0             0
2      2015.0    7554.0             0
3      2016.0      10.0             0
4      2018.0   70150.0             0
5      2009.0  120057.0             0
6      2017.0   95484.0             0
7      2007.0   89340.0             0
8      2013.0  226031.0             0
9      2012.0  128153.0             0
10     1994.0  168838.0             0
11     2013.0  156385.0             0
12     2007.0  135287.0             0
13     2015.0   73612.0             0
14     2004.0  235790.0             0
15     2014.0  158156.0             0
16     2015.0  127515.0             0
17     2002.0  179098.0             0
18     2003.0  185220.0             0
19     2019.0   20930.0             0
20     2010.0  231570.0             0
21     2008.0   75000.0             0
22     2001.0   75000.0             0
23     2001.0    9458.0             0
24     2008.0  110982.0             0
25     2014.0   93242.0             0
26     2014.0   15708.0             0
27     2015.0   68013.0             4
28     2016.0   23773.0             0
29     2016.0   28000.0             0
...       ...       ...           ...
19971  2018.0   37851.0             0
19972  2010.0  109344.0             0
19973  2006.0  128850.0             0
19974  2015.0   89644.0             0
19975  2008.0  192812.0             0
19976  2008.0   92475.0             0
19977  2010.0  157675.0             0
19978  2018.0    9160.0             4
19979  2015.0   26743.0             0
19980  2011.0  139784.0             0
19981  1999.0  229182.0             0
19982  2013.0  120242.0             0
19983  2017.0   30925.0             0
19984  2017.0   19198.0             0
19985  2017.0   31310.0             0
19986  2015.0   60319.0             0
19987  2016.0   79831.0             0
19988  2015.0   61469.0             0
19989  2017.0   24311.0             0
19990  2015.0   28542.0             0
19991  2011.0  121220.0             0
19992  2018.0   48012.0             0
19993  2016.0   44507.0             0
19994  2005.0  179000.0             0
19995  2017.0   29894.0             0
19996  2016.0   43406.0             0
19997  2018.0   32867.0             0
19998  2019.0   17514.0             0
19999  2017.0   30486.0             0
20000  2019.0   22078.0             0

[20001 rows x 3 columns]

In [42]:
#encoding data variable dependen
X = dfle[['year','odometer']].values
X

array([[2.0120e+03, 6.3500e+04],
       [2.0160e+03, 1.0000e+01],
       [2.0150e+03, 7.5540e+03],
       ...,
       [2.0190e+03, 1.7514e+04],
       [2.0170e+03, 3.0486e+04],
       [2.0190e+03, 2.2078e+04]])

In [43]:
#encoding data kategori 
y = dfle.title_status
y

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       4
28       0
29       0
        ..
19971    0
19972    0
19973    0
19974    0
19975    0
19976    0
19977    0
19978    4
19979    0
19980    0
19981    0
19982    0
19983    0
19984    0
19985    0
19986    0
19987    0
19988    0
19989    0
19990    0
19991    0
19992    0
19993    0
19994    0
19995    0
19996    0
19997    0
19998    0
19999    0
20000    0
Name: title_status, Length: 20001, dtype: int32

In [44]:
# encoding dengan algoritma one hot encode
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features=[0])

In [45]:
X = ohe.fit_transform(X).toarray()
X

C:\Users\Ghina\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\Ghina\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

array([[0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        6.3500e+04],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        1.0000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        7.5540e+03],
       ...,
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 1.0000e+00, 0.0000e+00,
        1.7514e+04],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        3.0486e+04],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 1.0000e+00, 0.0000e+00,
        2.2078e+04]])

In [46]:
#Scalling 
from sklearn import preprocessing
import numpy as np

In [47]:
#Scalling data dengan min max scaller
minmaxscaler_as = preprocessing.MinMaxScaler(feature_range=(0,10))
feature_scale = minmaxscaler_as.fit_transform(new_df)
feature_scale

array([[9.22330097e+00, 2.53999492e-01, 0.00000000e+00],
       [9.61165049e+00, 3.99999200e-05, 0.00000000e+00],
       [9.51456311e+00, 3.02159396e-02, 0.00000000e+00],
       ...,
       [9.90291262e+00, 7.00558599e-02, 0.00000000e+00],
       [9.70873786e+00, 1.21943756e-01, 0.00000000e+00],
       [9.90291262e+00, 8.83118234e-02, 0.00000000e+00]])

In [48]:
#Split Data 
#Membagi data menjadi data train dan data test
x = new_df[['year','odometer']] #data train
y = new_df['title_status'] #data test

In [49]:
#membagi data menjadi 20% data test dan 80% data train
from sklearn.model_selection import train_test_split

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [51]:
#Klasifikasi dengan linear Regression
from sklearn.linear_model import LinearRegression
clf = LinearRegression()

In [52]:
clf.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [53]:
clf.score(X_test,y_test) #linear Regression

0.0018881925773600592

In [54]:
#klasifikasi Data dengan Naive Bayes
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [55]:
model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [56]:
model.score(X_test,y_test) #Naive Bayes

0.9702574356410897